@import 'bootstrap';

:root{
    --primary: #411530;
    --secondary: rgb(209, 81, 45);
    --accent: #F5C7A9;
    --detail: #F5E8E4;
}
.background-primary{
    background-color: var(--primary) !important;
}
.color-primary{
    color: var(--primary) !important;
}

.background-secondary{
    background-color: var(--secondary);
}
.color-secondary{
    color: var(--secondary)
}

.background-accent{
    background-color: var(--accent);
}
.color-accent{
    color: var(--accent)
}

.background-detail{
    background-color: var(--detail);
}
.color-detail{
    color: var(--detail)
}

body{
    background-color: var(--detail);
}