
css
:root{
    --primary: #003c43;
    --secondary: #135d66;
    --detail: #77b0aa;
    --accent: #e3fef7;
}
.background-primary{
    background-color: var(--primary) !important;
}
.color-primary{
    color: var(--primary) !important;
}

.background-secondary{
    background-color: var(--secondary);
}
.color-secondary{
    color: var(--secondary)
}

.background-accent{
    background-color: var(--accent);
}
.color-accent{
    color: var(--accent)
}

.background-detail{
    background-color: var(--detail);
}
.color-detail{
    color: var(--detail)
}

.hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .hind-siliguri-medium {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .hind-siliguri-semibold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .hind-siliguri-bold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  




.btn:hover {
    color: var(--accent)
}

#carouselExample {
    width: 100%; /* Imposta la larghezza del carousel al 100% del contenitore */
    height: 350px; 
    overflow: hidden; 
}

.carousel-inner {
    width: 100%; 
    height: 100%; 
}

.carousel-item {
    width: 100%; 
    height: 100%; 
}

.carousel-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.margin-top-nav {
    margin-top: 91px;
} 

.dropdown-menu {
    background-color: var(--accent); 
}

.dropdown-item {
    color: var(--primary); 
}

.mobile-menu-container {
    position: relative; 
}

#menuMobile {
    position: absolute;
    width: 100%; 
    top: 100%; 
    left: 0;
    z-index: 1000; 
    background-color: rgb(245, 199, 169); 
    border: 1px solid rgb(64, 20, 48);
    
}

.dropdown-menu .dropdown-item:hover {
    background-color: #401430; 
    color: #F5C7A9; 
}

.blueColor {
    background-color: #0A1D56;
}
.blueColorText {
    color: #0A1D56;
}
.color-White{
    background-color: whitesmoke;
}
.footer {
    background-color: whitesmoke;
    color: #333;
    padding: 30px 0;
}

.footer h5 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #333;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #666;
}
.foto{
    height: 150px;
}
.footerpers{
width: 1600px;
margin-left: -130px;
margin-right: -190px;
}
.socialColor:hover{
    color: darkblue;
}
.footerColor:hover{
font-weight: bold ;
}

.adsa{
    background-color:rgba(255, 255, 255 , 255)
}


header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  

  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }


  @media (min-width: 768px) and (max-width: 992px) {
    #cardgeneric {
        width: 188px; 
        height: 451px; 
    }
}

@media (max-width: 576px) {
    .form-control {
        display: none; /* Nasconde l'input di ricerca */
    }
}

.hoverElement:hover {
    color: #e3fef7;  
  }


  .recensione-container {
    display: flex;
    justify-content: space-between;
    margin: 10%;
    align-items: center; 
    flex-wrap: wrap; 
}

.recensione-container img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease; 
}

.recensione-container img:hover {
    transform: scale(1.2); 
}


@media (max-width: 768px) {
    .recensione-container {
        flex-direction: column;
        align-items: center;
    }

    .recensione-container img {
        max-width: 200px; 
        margin-bottom: 20px; 
    }

    .recensione-container img:hover {
        transform: scale(1.05); 
    }
}

